@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@viewport {width: device-width; scale:1;}

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
    background-color: lightgray; 
}

*, *::before, *::after {
 box-sizing: inherit;   
}

.input {
    height: 30px;
    width: 89%;
    border-radius: 5px;
    border-color: black;
    margin: 0;
}

.todo {
    text-align: center;
}

label {
    display: block;
    text-align: center;
}

.ul {
    padding: 1em;
    text-align: left;
    background-color: white;
    overflow: hidden;
    list-style-type: none;
}

.done {
    text-decoration: line-through;
    color:lightgray;
}

.button {
    color: grey;
    border-color: darkgray;
    border-width: 2px;
    width: 40px;
    height:30px;
    position: absolute;
}

.xbutton {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid grey;
    border-radius: .5em;
    background-color: lightgray;
    height: 23px;
    width: 20px;
}

.xbutton:hover {
    color: lightgray;
    background-color: dimgray;
}

.remove {
    float: right;
    overflow: hidden;
}

.box {
    background-color: #e0dfdf;
    margin: 3em;
    padding: 1em;
    width: 80%;
    border-radius: 15px;
    border: 1px solid #636161;
    overflow: hidden;
}